
<div class="">
  <%= image_tag('welcome_image.jpg', alt: 'Welcome Image') %>
  <p>Bienvenido/a a nuestra plataforma interna de empleo. ¡Postula a nuevas oportunidades y mejora tu carrera profesional!</p>
  <%= link_to "Ingresar a la página", new_user_session_path, class: "btn btn-primary" %>
</div>
